<header id="header" data-scroll data-scroll-sticky data-scroll-target="#main">
  <nav class="header-content">
    <a href="/"><div class="logo-text">CODEACADEMY</div></a>
    <div class="nav-list1">
      <h4><a href="/" id="home-page" class="">Home</a></h4>
      <h4><a href="/src/modules/resources/" id="resource-page">Resources</a></h4>
      <h4><a href="/src/modules/compiler/" id="compiler-page">Compiler</a></h4>
      <h4><a href="/src/modules/about/" id="about-page">About</a></h4>
      <h4><a href="/src/modules/contact/" id="contact-page">Contact</a></h4>
    </div>
    <div class="nav-list2 button">
      <h4 class="nav-login-button" id="signin-button"><a href="#">Sign in</a></h4>
      <h4 class="nav-signup-button" id="signup-button"><a href="#">Sign up</a></h4>
    </div>
    <div class="user-profile button">
      <img src="/src/assets/images/user6.png" class="user-image" alt="User Image">
      <span class="material-symbols-outlined dropdown-profile-arrow">keyboard_arrow_down</span>
    </div>
  </nav>
</header>


