<!-- User Profile Box -->
<div class="user-profile-box" data-scroll data-scroll-sticky data-scroll-target="#main">
  <h5 class="user-profile-name">
    <input type="text" id="user-profile-name" readonly class="user-profile-name-input" />
  </h5>
  <h5 class="user-profile-email">
    <input type="text" id="user-profile-email" readonly class="user-profile-email-input" />
  </h5>
  <div class="userprofile-signout-button button">
    <h4 class="course-adder">
      <a href="/src/modules/problemadder/index.html">
        <span class="material-symbols-outlined user-profile-icon">add</span>
        Add Resources
      </a>
    </h4>
    <h4 class="view-profile">
      <a href="/src/modules/progress/index.html">
        <span class="material-symbols-outlined user-profile-icon">person</span>
        View Profile
      </a>
    </h4>
    <h4 id="logout" class="signout-button">
      <a href="/public/index.html" class="logout">
        <span class="material-symbols-outlined user-profile-icon">logout</span>
        Sign Out
      </a>
    </h4>
  </div>
</div>