/* body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    padding: 40px;
    max-width: 900px;
    margin: auto;
} */
body {
    overflow-x: hidden;
}
.article-container {
    width: 100vw;
    height: 100%;
    background-color: var(--background-color);
    background-color: #F3F4F6;
    padding: 100px;
}
h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'DM Sans';
    font-weight: 800;
    
}
p, div, h2, h3, h4, h5, h6, pre, strong, li {
    font-family: 'Poppins';
}
h2, h3, h4, h5, h6, strong {
    font-weight: bold;
}
p, div, pre, li {
    font-weight: 300;
}
#article-box {
    padding: 50px 80px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    line-height: 1.6;
    background-color: white;
    height: max-content;

}
.section-5 {
    height: fit-content;
}
.chunk {
    opacity: 0;
    transition: opacity 0.4s ease;
    margin-bottom: 12px;
}

.chunk.visible {
    opacity: 1;

}

pre {
    background: #f4f4f4;
    padding: 10px;
    border-radius: 6px;
    overflow-x: auto;
    
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}