/* NAVBAR  */
header{
    background: var(--background-color);
    padding: 0 2vw;
    top: 0;
    width: 100%;
    z-index: 100;
    position: fixed;
    overflow-x: hidden;

    /* border-bottom: 1px solid #e5e7eb; */
}

.header-content{
    padding: 1vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
    position: relative;
}

.logo-text{
    font-size: 1.5rem;
    font-family: 'Montserrat';
    font-weight: bold;
    margin-left: -0.5rem;
    color: transparent;
    background: linear-gradient(to left,orange,orangered);
    background-clip: text;
    -webkit-background-clip: text;
}

.nav-list1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 0.91rem; */
    gap: 1rem;
    cursor: pointer;
}

.nav-list1 h4 {
    padding: 10px 20px;
    font-weight: 300;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

.nav-list1 h4 a {
    color: #000000bb;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 0.91rem;
    /* font-size: 1rem; */
}

.nav-list1 h4 a:hover {
    color: orangered;
}

.nav-list1 .current-nav {
    color: orangered;
}

.current-nav-demo {
  color: #000000bb;
}

.nav-list2, .button {
    display: flex;
    align-items: center;
    /* gap: 0.91rem; */
    gap: 1rem;
    cursor: pointer;
}

.nav-list2 {
    z-index: 10;
    background-color: var(--background-color);
    visibility: hidden;
}
.courseAdder {
    display: none;
}

.button h4 {
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 300;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

.button h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

.button h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

.button h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 0.91rem;
}

.button h4:hover a {
    color: #fff; 
}

.user-profile-icon {
    position: relative;
    z-index: 9;
}

.user-profile-box .button h4:hover .user-profile-icon {
    color: white;
}

nav h3 {
    display: none;
}

#medium-dot {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    background-color: #FE320A;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 0;
    gap: 0.1rem;
    z-index: 9;
    visibility: hidden;
}

.user-profile h5 input, .user-profile-name input, .user-profile-email input {
    width: fit-content;
    color: #000000bb;
    font-family: 'Poppins';
    font-weight:600;
    font-size: 0.91rem;
    background-color: #f5f5f5;
    border: none;
}

.user-profile-email input {
    width: fit-content;
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--gray);
}

.user-profile-name, .user-profile-email {
    width: min-content;
    user-select: none;
}

.user-profile-email {
    margin-top: -1rem;
}

.user-profile h5 input:focus, .user-profile-name input:focus, .user-profile-email input:focus {
    outline: none;
}

.signout-button {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.25rem;
}

.button .signout-button h4 a {
    font-size: 0.5rem;
}

.user-profile-box {
    width: fit-content;
    background-color: #f5f5f5;
    backdrop-filter: blur(50px);
    border: 1px solid rgba(179, 179, 179, 0.65);
    top: 70px;
    right: 40px;
    z-index: 100;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1rem 1rem;
    display: none;
    gap: 1rem;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.userprofile-signout-button {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.signout-button, .view-profile, .course-adder {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
}

.signout-button a, .view-profile a, .course-adder a {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
}

.course-adder {
    display: none;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.625rem;
    padding: 1.5rem;
}

.logo-icon{
    height: 2.5rem;
    width: 2.5rem;
}

.menu-button{
    display: none;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--background-color);
    padding: 0.5rem 0.9rem;
}

@media screen and (max-width: 767px) {
    .menu-button{
        display: block;
    }
}

.menu-icon{
    height:1.5rem;
    width:1.5rem;
}

.header-line{
    background: var(--light-gray);
    width: 100vw;
    height: 1px;
    margin: 0 auto;
    margin-top: -1rem;
}