/* FOOTER SECTION  */

#footer {
    position: fixed;
    height: 105vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 5vw 0vw;
}

#footer #shape1 {
    position: absolute;
    background-color: #fe330a;
    filter: blur(50px);
    top: -50%;
    left: -20%;
    width: 90%;
    height: 90%;
    animation-name: shape1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shape1 {
    0% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}

#footer #shape2 {
    position: absolute;
    background-color: #fe330a;
    filter: blur(50px);
    right: -27%;
    top: -27%;
    width: 70%;
    height: 90%;
    animation-name: shape2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shape2 {
    0% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

#footerupper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 6.2vw 5vw;
    padding-bottom: 4vw;
}

#footer div h2 {
    font-family: 'DM Sans';
    font-size: 2.1vw;
    font-weight: 800;
}

#footerupper #footer-email {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 26%;
}

#footer-email p {
    font-size: 1.3vw;
    font-weight: 200;
    letter-spacing: 0.2px;
}

#footer-email h6 {
    font-size: 1.2vw;
    font-weight: 200;
    padding-bottom: 0.5vw;
    border-bottom: 1px solid #d3cdc1df;
    color: #d3cdc1df;
}

#footerlower {
    position: relative;
    padding: 0 1.5vw;
}

#footerlower h1 {
    font-size: 15vw;
    border-bottom: 0.8px solid #d3cdc173;
}

#footerlower div {
    padding: 0.91rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footerlower div h5 {
    font-size: 1.1vw;
    font-weight: 200;
}