/* USER FORM  */

.signin-form, .signup-form, .forget-form {
    z-index: 100;
    height: 100vh;
    width: 100vw;
    display: none;
    position: absolute; 
    top: 0;
    animation: slideFromTopToDown 1s ease forwards;
}

.form-box, .signup-form-box, .forget-form-box{ 
    width: 500px;
    display: flex;
    justify-content:left; 
    border-radius: 10px;
    border: 1px solid rgba(179, 179, 179, 0.65);
    /* background-image: linear-gradient(135deg, #efeae3 0%, rgba(226, 209, 195, 0.8) 100%);  */
    background-image: linear-gradient(135deg, #ffffff 0%, rgba(226, 209, 195, 0.8) 100%); 
}

.signin-form .form, .signup-form .form, .forget-form .form {
    width: 100%;
    padding: 25px 30px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.form .login-div, .signup-form .signup-div, .forget-form .forget-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 8px;
}

.form .login-text, .signup-form .signup-text, .forget-form .forget-text{
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: -6px;
}

.form .login-text span, .signup-form .signup-text span, .forget-form .forget-text span{
    color: var(--gray);
    font-size: 1.5rem;
    margin-left: 331px;
    margin-bottom: 20px;
    cursor: pointer;
}

.signup-form .signup-text span {
    margin-left: 322px;
}

.forget-form .forget-text span {
    margin-left: 208px;
}

.form .login-text span:hover, .signup-form .signup-text span:hover, .forget-form .forget-text span:hover{
    color: black;
}

.form .login-acc-yet, .signup-form .signup-acc-yet, .forget-form .forget-acc-yet{
    font-family: 'Poppins';
    font-size: 0.8rem;
    color: var(--gray);
    margin-top: -10px;
    font-weight: 400;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(179, 179, 179, 0.5);
}

.form .login-acc-yet span, .signup-form .signup-acc-yet span, .forget-form .forget-acc-yet span{
    font-family: 'Poppins';
    font-size: 0.8rem;
    text-decoration: none;
    color: orangered;
    font-weight: 500;
    cursor: pointer;
}

.form .email-div input, .form .password-div input, .signup-form input {
    font-family: 'Poppins';
    width: 100%;
    display: block;
    margin: 5px 0;
    padding: 10px;
    outline: none;
    border: 1px solid rgba(179, 179, 179, 0.5);
    border-radius: 6px;
    height: 3rem;
    background: #ffff;
    font-size: 0.8rem;
}

.signup-form input {
    height: 2.8rem;
}

.form .email-div input:focus, .form .password-div input:focus, .signup-form input:focus{
    border: 2px solid orangered;
    padding: 9px;
}

.signup-form .signup-name {
    display: flex;
    gap: 10px;
}

.email-text, .password-text, .name-text, .username-text, .confirm-password-text {
    font-family: 'Poppins';
    font-size: 0.8rem;
    margin-bottom: -2px;
    font-weight: 400;
}

.signin-form .email-div {
    margin-top: 15px;
}

.signin-form .password-div {
    margin-top: 10px;
    margin-bottom: 15px;
} 

.signup-form .name-div {
    margin-top: 10px;
}

.signup-form .confirm-password-div {
    margin-bottom: 10px;
}

.password-text span{
    font-family: 'Poppins';
    font-size: 0.8rem;
    text-decoration: none;
    color: orangered;
    font-weight: 500;
    margin-left: 258px;
    cursor: pointer;
}

.password-text span:hover, .login-acc-yet span:hover, .signup-acc-yet span:hover, .forget-acc-yet span:hover {
    text-decoration: underline;
}

.email-div, .password-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form .form-button h4 {
    width: 100%;
    text-align: center;
}

.or-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: -15px;
    padding: 15px 0;
}

.or-line span{
    color: #ffff;
    background: rgba(179, 179, 179, 0.5);
    width: 180px;
    height: 1px;
}

.or-line div{
    font-family: 'Poppins';
    font-weight: 600;
    color: var(--gray);
    font-size: 0.9rem;
}

.form .google-fb-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
}

.signup-form .google-fb-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
}

.form .google-fb-button p{
    font-size: 0.75rem;
    font-family: 'Poppins';
    text-align: center;
    padding: 0 20px;
}

.form .google-fb-button p span{
    font-size: 0.75rem;
    font-family: 'Poppins';
    color: var(--link-color);
    text-decoration: underline;
    cursor: pointer;
}

.form .form-button .form-gmail-button::after {
    background-color: #34A853;
}

.form .form-button .form-fb-button::after {
    background-color: #1877F2;
}

.form button.login-btn:hover{
    background: transparent;
    color: orangered;
    border: 1px solid orangered;
}

.form .google-fb-button h4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.signup-form .button h4 {
    padding: 10px;
}

.form .button h4 a {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.signup-form .button h4 a {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 0.85rem;
}

.form .google-fb-button img {
    width: 20px;
    height: 20px;
}

.form .google-fb-button .form-fb-button img{
    width: 23px;
    height: 23px;
}

.signin-form .google-fb-button .form-gmail-button a {
    margin-left: -20px;
}

.showLoginBox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.showLoginBoxMain{
    filter: blur(3px);
    overflow-x: hidden;
}

.hideLoginBox{
    display: none;
}

.hideLoginBoxMain{
    filter: blur(0);
    overflow-x: hidden;
}

@keyframes slideFromTopToDown {
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFromDownToTop {
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(-100%);
    }
}

