<!-- Sign In Form -->
<div class="signin-form" id="signin-form">
  <div class="form-box">
    <div class="form">
      <div class="login-div">
        <div class="login-text">Sign in<span class="material-symbols-outlined signin-form-close">close</span></div>
        <div class="login-acc-yet">Don't have an account yet? <span id="signup-here">Sign up here</span></div>
      </div>
      <div class="email-div">
        <div class="email-text">Email address</div>
        <input type="email" placeholder="Enter email address" id="email" />
      </div>
      <div class="password-div">
        <div class="password-text">Password <span id="forget-link" class="forget-link">Forgot Password?</span></div>
        <input type="password" placeholder="Enter password" id="password" />
      </div>
      <div class="button form-button">
        <h4 class="form-sigin-button" id="login-btn"><a href="#">Sign in</a></h4>
      </div>
      <div class="or-line"><span></span><div>OR</div><span></span></div>
      <div class="button form-button google-fb-button">
        <h4 class="form-gmail-button" id="gmail-login-btn"><a href="#"><img src="/src/assets/images/google.png" alt="Google">Sign in with Google</a></h4>
        <h4 class="form-fb-button" id="fb-login-btn"><a href="#"><img src="/src/assets/images/facebook.png" alt="Facebook">Sign in with Facebook</a></h4>
        <p>By signing in or creating an account, you are agreeing to our <span>Terms & Conditions</span> and <span>Privacy Policy</span>.</p>
      </div>
    </div>
  </div>
</div>


<!-- Forget Password Form -->
<div class="forget-form" id="forget-form">
  <div class="forget-form-box">
    <div class="form">
      <div class="forget-div">
        <div class="forget-text">Forget Password<span class="material-symbols-outlined forget-form-close">close</span></div>
        <div class="forget-acc-yet">Return to <span id="forget-signin-here">Sign in</span></div>
      </div>
      <div class="email-div">
        <div class="email-text">If the account exists, we will email you instructions to reset the password.</div>
        <input type="forget-email" placeholder="Enter your email address" id="forget-email" />
      </div>

      <div class="button form-button">
        <h4 class="form-sigup-button forget" id="forget-btn"><a href="#">Send Reset Link</a></h4>
      </div>

    </div>
  </div>
</div>


<!-- Sign Up Form -->
<div class="signup-form" id="signup-form">
  <div class="signup-form-box">
    <!-- <span class="notify" id="notify"></span> -->
    <div class="form">
      <div class="signup-div">
        <div class="signup-text">Sign up<span class="material-symbols-outlined signup-form-close">close</span></div>
        <div class="signup-acc-yet">Already have an account? <span id="signin-here">Sign in here</span></div>
      </div>
      <div class="name-div">
        <div class="name-text">Name</div>
        <div class="signup-name">
          <input type="text" placeholder="Enter First Name" id="signup-firstname" />
          <input type="text" placeholder="Enter Last Name" id="signup-lastname" />
        </div>
      </div>
      <div class="username-div">
        <div class="username-text">Username</div>
        <input type="text" placeholder="Enter username" id="signup-username" />
      </div>
      <div class="email-div">
        <div class="email-text">Email address</div>
        <input type="email" placeholder="Enter email address" id="signup-email" />
      </div>
      <div class="password-div">
        <div class="password-text">Password</div>
        <input type="password" placeholder="Enter password" id="signup-password" />
      </div>
      <div class="confirm-password-div">
        <div class="confirm-password-text">Confirm Password</div>
        <input type="password" placeholder="Confirm password" id="confirm-password" />
      </div>
      <div class="button form-button">
        <h4 class="form-sigup-button signup" id="signup-btn"><a href="#">Sign up</a></h4>
      </div>
      <div class="or-line"><span></span><div>OR</div><span></span></div>
      <div class="button form-button google-fb-button">
        <h4 class="form-gmail-button" id="gmail-signup-btn"><a href="#"><img src="/src/assets/images/google.png" alt="Google">Sign in with Google</a></h4>
        <h4 class="form-fb-button" id="fb-signup-btn"><a href="#"><img src="/src/assets/images/facebook.png" alt="Facebook">Sign in with Facebook</a></h4>
      </div>
    </div>
  </div>
</div>
