<div id="footer">
  <div id="shape1"></div>
  <div id="shape2"></div>
  <div id="footerupper">
    <div>
      <h2>Code.</h2>
      <h2>Learn.</h2>
      <h2>Succeed.</h2>
    </div>
    <div id="footer-email">
      <p>Get in touch</p>
      <h6>codeacademy.support@gmail.com</h6>
    </div>
  </div>
  <div id="footerlower">
    <h1>CodeAcademy</h1>
    <div>
      <h5>Copyright © CodeAcademy</h5>
      <h5>Kolkata, WB</h5>
      <h5>Instagram</h5>
      <h5>LinkedIn</h5>
    </div>
  </div>
</div>
