<header id="header" data-scroll data-scroll-sticky data-scroll-target="#main">
  <nav class="header-content">
    <div class="logo-text">CODEACADEMY</div>
    <div class="nav-list1">
      <h4><a href="/" class="current-nav">Home</a></h4>
      <h4><a href="/resources/">Resources</a></h4>
      <h4><a href="/OnlineCompiler/editor.html">Compiler</a></h4>
      <h4><a href="/about/">About</a></h4>
      <h4><a href="/contact/">Contact</a></h4>
    </div>
    <div class="nav-list2 button">
      <h4 class="nav-login-button" id="signin-button"><a href="#">Sign in</a></h4>
      <h4 class="nav-signup-button" id="signup-button"><a href="#">Sign up</a></h4>
    </div>
    <div class="user-profile button">
      <img src="/src/assets/images/user6.png" class="user-image" alt="User Image">
      <span class="material-symbols-outlined dropdown-profile-arrow">keyboard_arrow_down</span>
    </div>
  </nav>
</header>
<div class="user-profile-box" data-scroll data-scroll-sticky data-scroll-target="#main">
  <h5 class="user-profile-name">
    <input type="text" id="user-profile-name" readonly class="user-profile-name-input" />
  </h5>
  <h5 class="user-profile-email">
    <input type="text" id="user-profile-email" readonly class="user-profile-email-input" />
  </h5>
  <div class="userprofile-signout-button button">
    <h4 class="course-adder">
      <a href="/coursesAdder/">
        <span class="material-symbols-outlined user-profile-icon">add</span>
        Add Resources
      </a>
    </h4>
    <h4 class="view-profile">
      <a href="/progress/index.html">
        <span class="material-symbols-outlined user-profile-icon">person</span>
        View Profile
      </a>
    </h4>
    <h4 id="logout" class="signout-button">
      <a href="#" class="logout">
        <span class="material-symbols-outlined user-profile-icon">logout</span>
        Sign Out
      </a>
    </h4>
  </div>
</div>
