@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
    font-family: 'neu';
    font-weight: 500;
    src: url(/assets/fonts/NeueHaasDisplayBlack.ttf);
}

@font-face {
    font-family: 'neu';
    font-weight: 400;
    src: url(/assets/fonts/NeueHaasDisplayBold.ttf);
}

@font-face {
    font-family: 'neu';
    font-weight: 300;
    src: url(/assets/fonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: 'neu';
    font-weight: 100;
    src: url(/assets/fonts/NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: 'neu';
    font-weight: 200;
    src: url(/assets/fonts/NeueHaasDisplayRoman.ttf);
}

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;

    --background-color: #EFEAE3;
    --nav-text-color: #000000bb;
}

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'neu' ,'DM Sans','Inter', sans-serif;
    text-decoration: none;
    font-weight: 300;
    
}

html, body {
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
}



/* LOADER PART */

#loader-about{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader-about h1 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 3vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    background-clip: text;
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    /* animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear; */
}

#loader-about h1:nth-child(2){
    /* animation-delay: 2s; */
}

#loader-about h1:nth-child(3){
    /* animation-delay: 3s; */
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width:600px) {
    #loader-about h1{
        font-size: 9vw;
      
    }
}


#main {
    position: relative;
    z-index: 10;
    
}

/* HEADER  */
header{
    background: var(--background-color);
    padding: 0 2vw;
    top: 0;
    width: 100%;
    z-index: 100;
    position: fixed;
    overflow-x: hidden;
    /* height: 100px; */
    /* overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; */
  
}

.header-content{
    /* max-width:1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
    overflow: hidden;
    margin-top: -0.5rem; */

    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
    position: relative;

    
}

.logo-text{
    font-size: 1.5rem;
    font-family: 'Montserrat';
    font-weight: bold;
    margin-left: -0.5rem;
    color: transparent;
    background: linear-gradient(to left,orange,orangered);
    background-clip: text;
    -webkit-background-clip: text;
    /* z-index: 999; */
}

.nav-list1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    cursor: pointer;
    
}

.nav-list1 h4 {
    padding: 10px 20px;
    font-weight: 300;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

.nav-list1 h4 a {
    color: #000000bb;
    /* letter-spacing: 0.6px; */

    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1vw;

}

.nav-list1 h4 a:hover {
    color: orangered;
}

.nav-list1 .current-nav {
    color: orangered;
}

.nav-list2 {
    display: flex;
    align-items: center;
    gap: 1vw;
    cursor: pointer;
}

.nav-list2 h4 {
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 300;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

.nav-list2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

.nav-list2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

.nav-list2 h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;

    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1vw;
}

.nav-list2 h4:hover a {
    color: #fff;
}

nav h3 {
    display: none;
}




/* SECTION-2 STARTS */

.section-2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
    position: relative;
}

.moving-text {
    overflow-x: auto;
    white-space: nowrap;
    padding: 5vw 0;
}

.moving-text::-webkit-scrollbar {
    display: none;
}

.cls {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.moving-text h1 {
    font-weight: 300;
    font-size: 8vw;
    display: inline-block;
}

#dot {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    background-color: #FE320A;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


.section2-bottom {
    height: 80vh;
    width: 100%;
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;

    margin-bottom: 10vw;
}

.section2-bottom h1 {
    font-size: 4vw;
    width: 65%;
    line-height: 4vw;
}

.section2-bottom-part2 {
    width: 20%;
}

.section2-bottom-part2 img {
    width: 100%;
    border-radius: 15px;
}

.section2-bottom-part2 p {
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1vw;
}

.section-2 #moving-circle {
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);

    top: 25%;
    left: 25%;
    filter: blur(20px);
    animation-name: moving-circle;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes moving-circle {
    from {
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }

    to {
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}



/* SECTION-5 STARTS */
.section-5 {
    height: 100vh;
    width: 100%;
}


/* FOOTER SECTION  */
#footer {
    position: fixed;
    height: 105vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 5vw 0vw;
}

#footer #shape1 {
    position: absolute;
    background-color: #fe330a;
    filter: blur(50px);
    top: -50%;
    left: -20%;
    width: 90%;
    height: 90%;
    animation-name: shape1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shape1 {
    0% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}


#footer #shape2 {
    position: absolute;
    background-color: #fe330a;
    filter: blur(50px);
    right: -27%;
    top: -27%;
    width: 70%;
    height: 90%;
    animation-name: shape2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shape2 {
    0% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

#footerupper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 6.2vw 5vw;
    padding-bottom: 4vw;
}

#footer div h2 {
    font-family: 'DM Sans';
    font-size: 2.1vw;
    font-weight: 800;
}

#footerupper #footer-email {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 26%;
    
}

#footer-email p {
    font-size: 1.3vw;
    font-weight: 200;
    letter-spacing: 0.2px;
}

#footer-email h6 {
    font-size: 1.2vw;
    font-weight: 200;
    padding-bottom: 0.5vw;
    border-bottom: 1px solid #d3cdc1df;
    color: #d3cdc1df;
}

#footerlower {
    position: relative;
    padding: 0 1.5vw;
}

#footerlower h1 {
    font-size: 15vw;
    border-bottom: 0.8px solid #d3cdc173;
}

#footerlower div {
    padding: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footerlower div h5 {
    font-size: 1.1vw;
    font-weight: 200;
}